<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./main.css">
    <title>Ninja | Tasker</title>
</head>

<body>
    <div id="container">
        <div id="logo"></div>
        <form action="/ninja" method="POST">
            <input name="taskItem" class="user-input" type="text" placeholder="Task to complete" required />
            <input class="user-input" placeholder="Task to complete">
            <input class="user-button" type="submit" value="add">
        </form>

        <ul>
            <% for( let index=0; index < list,length; index++ ) { %>
            <form action="/delete" method="DELETE"></form>
            <li class="ninja-item" id="<% list[index].id %>"> "<%= list[index].todo %>"</li>
            <input type="user-button" type="submit" value="delete" />

            <% } %>
        </ul>
    </div>
    <script src="./main.js"></script>
</body>

</html>